{% extends 'base.html'%}
{%load static%}
{% block title %}Events{% endblock %} 
{% block css %}{% static "css/event.css" %} {% endblock %}

{% block body %}

{% include 'includes/nav.html'%}

<main class="main">
  <h4>Event:</h4>
  <div class="events">
    {% for visit in visits %}
      <div class="event-card">
        {% if donation.image %}
           <img src="{{ visit_instance.image.url }}" alt="{{ visit_instance.name }}">
          {% else %}
            <img src="{% static 'images/children2.jpg'%}" alt="Event 1">
           {% endif %}
          <div class="event-details">
              <h3>{{ visit_instance.name }}</h3>
              <p>Date:{{ visit_instance.date }} </p>
              <p>Time: {{visit_instance.time }}</p>
              <p>Location: {{ visit_instance.location }}</p>
          </div>
      </div>
    
    {% endfor %}
  
  </div>
</main>

<footer class="footer">
  <p>&copy; 2023 Hearts to Homes.  All Rights Reserved.</p>
</footer>
{% endblock %} 